<div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="nombre">Agregar Libro</h3>

      </div>
          <table  style="text-align:center;">
          <tr>
                <td>
                  <input type="text" style="max-height: 40px;" #titulo placeholder="Titulo" id="traduccion">
                  <input type="text" style="max-height: 40px;" #autor placeholder="Autor" id="traduccion">
                  <input type="text" style="max-height: 40px;" #descripcion placeholder="Descripcion" id="traduccion">
                  <input type="text" style="max-height: 40px;" #precio placeholder="Precio" id="traduccion">
                  <input type="text" style="max-height: 40px;" #cantidad placeholder="Cantidad" id="traduccion">
               
                  <input type="submit" class="fadeIn fourth" value="Subir" (click) ="agregar(titulo.value, autor.value, descripcion.value, precio.value, cantidad.value)">
                
                </td>
            </tr>  
          </table>    
    </div>
  </div>
